.App {
  margin: auto;
}
h1 {
  text-align: center;
}

div button {
  background-color: green;
  border: none;
  border-radius: 16px;
  padding: 10px;
  color: white;
  text-align: center;
  width: 100px;
  cursor: pointer;
}
